---
- set_fact:
    os_type: "{{ ansible_distribution }}{{ ansible_distribution_major_version }}"

- include_vars:
    file: "{{ os_type }}.yml"
    name: os_vars

- include: prepare.yml tags=pyenv_python
- include: install.yml tags=pyenv_python
